.navbar.row {
  position: fixed;
  top: 0;
  border: 2px solid darkkhaki;
  border-radius: 10%;
  width: 100%;
  background-color: lightskyblue;
}

.navbar .col {
  border-radius: 10%;
  border: 1px solid gray;
  text-align: center;
}

#siteName {
  border: 2px solid yellowgreen;
  border-radius: 5%;
}

body {
  margin-left: 5px;
  margin-right: 30px;
  margin-bottom: 40px;
}

section {
  border-bottom: 2px solid darkseagreen;
}

section.row {
  padding-top: 100px;
}

h2 {
  padding: 15px;
}

#siteName {
  font-family: "Felix Titling", serif;
  color: blue;
  padding: 10px;
  margin: 5px;
}

a:link {
  text-decoration: none;
}

#myPicture {
  width: 200px;
  height: 200px;
  border-radius: 10%;
}

#Education .col-3{
  border: 1px solid skyblue;
}
table {
  text-align: center;
  border: 1px solid dodgerblue !important;
}

thead {
  background-color: lightskyblue;
  border-bottom: 2px solid cornflowerblue;
}

table img {
  width: 160px;
  height: 100px;
}

.recFriends {
  height: 175px;
  width: 200px;
  border-radius: 50%;
}

.recToMiddle {
  text-align: center;
  margin-bottom: 20px;
}

.companyLogo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: -50px;
}

footer {
  position: fixed;
  background-color: deepskyblue;
  height: 40px;
  bottom: 0px;
  width: 100%;
  border-top: 2px solid peru;
  border-radius: 10%;
}

#copyrightSign {
  position: relative;
  left: 20px;
  top: 5px;
}

#footerLogosCol {
  height: 80px;
  width: 150px;
  position: relative;
  right: 0px;
  top: 5px;
}

.footerLinks {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}


